<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/burger_style.css" />

  <title>Burger King!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/da2b48d07d.js" crossorigin="anonymous"></script>

  <style>


  </style>

</head>

<body>
  {{{ body }}}
  <script>

    $(document).ready(function () {

      $(".create-form").on("submit", function (e) {
        e.preventDefault();

        // Make sure to preventDefault on a submit event.
        var burgerName = {
          name: $("#burgeradd").val().trim()
        };

        $(".loader").css("display", "block").hide(5000);

        // Send the POST request.
        $.ajax("/api/add-burger", {
          type: "POST",
          data: burgerName
        }).then(
          function () {
            console.log("created new burger");

            // Reload the page to get the updated list

          }
        );
      });

      $(".burger-button").on("click", function (e) {
        // Make sure to preventDefault on a submit event.
        e.preventDefault();
        console.log("works");

        var burgerName = {
          name: $(this).text()
        };

        // Send the POST request.
        $.ajax("/api/ate-burger", {
          type: "post",
          data: burgerName
        }).then(
          function () {
            console.log("ate burger");
            // Reload the page to get the updated list
            location.reload();
          },
        );
      });


    });
  </script>
</body>

</html>